div{
    display:block;
}
.contenders {
     border: 2px solid black;
     display:grid;
     width: 100%;
    
 }

 h1 {
     text-align:center
 }

 .items {
     border: 1px solid black;
     background-color: rgba(0, 0, 0, 0.336);
     margin: 5px 7px;
     padding: 4px 4px;
     font-size: 15px;
     width: 300px;
     display: inline;
     justify-content: space-around;
     
     
 }
 *{
    box-sizing:border-box; 
}
#chi_1{
    float: right;
    border:1px solid black;
    background-color: pink; 
    position: relative;
    margin-right: auto;
    margin-top: auto;
    }
#be_2{
    float: right;
    border:1px solid black;
    background-color: rgba(165, 108, 42, 0.904); 
    position: relative;
    margin-right: auto;
    margin-top: auto;
}
#su_3{ float: right;
    border:1px solid black;
    background-color:rgba(137, 218, 32, 0.89);
    position: relative;
    margin-right: auto;
    margin-top: auto;

}
@media(min-width:1200px){
.items,.items_1,.items_2,.items_3{
    width:95%;
}
}
@media(min-width:783px) and (max-width:992px){
.items,.items_1,.items_2,.items_3{
    float:left;
}
}

 @media(min-width:500px) and (max-width:800px){
.items_1,.items_2,.items_3{
    float:left;
}
 }
